@import url(/node_modules/reset-css/reset.css);
@import url(/node_modules/modern-normalize/modern-normalize.css);
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --main-grey: #8f8f8f;
}

body {
  font-family: "JetBrains Mono", monospace;
}

h1 {
  font-size: 32px;
  line-height: 1.5;
}

p {
  font-size: 18px;
  line-height: 1.33;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}
